// Colors
// Primary

$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);

// Neutral

$DarkGray: hsl(0, 0%, 59%);

@import './globals';
@import './hero';